.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button__container {
  margin-top: 100px;
  text-align: center;
}

.body__container {
  margin-top: 150px;
  height: auto;
}

.button {
  border-radius: 10px;
  background-color:steelblue;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: lightgrey;
  color: #666666;
}

.sweet-loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 55%;
  margin-top: -50px;
  margin-left: -100px;
}

.basset-ul {
  margin-top: 100px;
}

.basset-li {
  display:inline-grid;
  margin-left:10px;
  margin-right:10px;
  font-size: large;
  font-size: 20px;
  font-family: Arial, Sans-Serif;
  list-style-type: none;
}

.basset-img {
  margin-left:20px;
  margin-right:20px;
  list-style-type: none;
  border: 2px solid darkgrey;
  border-radius: 50px 20px;
  align-self: auto;
  height: 300px;
  width: 300px;
}

.basset-span {
  margin-top: 10px;
}
