.Photos {
  text-align: center;
  align-items: center;
  text-align: center;
  display: grid;
  width: 80%;
}

.photo__container {
  margin-top: 75px;
  height: auto;
  margin-left:  50px;
  display: grid;
}
